In [1]:
import pandas as pd

In [6]:
data = ['Simba', 'Lays']
df_a = pd.DataFrame(data,columns=['Chips']) 
df_a

   Chips
0  Simba
1   Lays

In [7]:
data = ['Coke', 'Fanta']
df_b = pd.DataFrame(data,columns=['Cooldrinks']) 
df_b

  Cooldrinks
0       Coke
1      Fanta

In [9]:
data = ['Cadbury', 'Tex']
df_c = pd.DataFrame(data,columns=['Chocolates']) 
df_c

  Chocolates
0    Cadbury
1        Tex

In [12]:
data = ['Pepper Steak', 'Chicken']
df_d = pd.DataFrame(data,columns=['Pies']) 
df_d

           Pies
0  Pepper Steak
1       Chicken

In [14]:
data = ['Pear', 'Apple' ,'Orange']
df_e = pd.DataFrame(data,columns=['Fruit']) 
df_e

    Fruit
0    Pear
1   Apple
2  Orange

In [15]:
data = ['vanilla', 'chocolate']
df_f = pd.DataFrame(data,columns=['Cupcakes']) 
df_f

    Cupcakes
0    vanilla
1  chocolate

In [18]:
data = ['spinach', 'cabbage']
df_g = pd.DataFrame(data,columns=['Veggies']) 
df_g

   Veggies
0  spinach
1  cabbage

In [25]:
dataframes_list = [df_a,df_b,df_c,df_d,df_e,df_f,df_g]